html {
	height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 8% 5% auto 3%;
}

nav {
	grid-row: 1 / 2;
}

header {
	grid-row: 2 / 3;
}


main {
	grid-row: 3 / 4;
	padding: 1em;
}

footer {
	grid-row: 4 / 5;
	padding-left: 2em;
}


.accent-1 {
	background-color: #2B6777;
}


.accent-2 { 
	background-color: #C8D8E4;
}


.accent-3 { 
	background-color: #52AB98;
}

.off-white { 
	background-color: #FDFDFD;
}

.accent-white { 
	background-color: #F2F2F2F2;
}
