<nav class="navbar navbar-expand-md navbar-dark fix-top accent-1">
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav navbar-right ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'weight' %}">Weight<a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'exercise' %}">Exercise</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'lifts' %}">Lifts</a>
			</li>
		</ul>
	</div>
</nav>
